
body{
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
}
.todo-main{
    color: white;
    background-color: blue;
    
    
}

button{
    width: 100px;
    border-radius: 10px;
    font-weight: bold ;
    background-color: blue;
    color: white;
    padding: 3px;
    margin-left: 20px;
    margin-right: 20px;
    transition: 1s ease;
    
}

button:hover{
    background-color: white;
    color: blue;
    
}

.household, .work{
    display: none;
}

.household, .work, .front{
    background-repeat: no-repeat;
    background-size:cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
}

.front{
    text-align: center;
    padding-top:250px;
    background-image: url("bg.jpg");
    
}

.household{
    background-image: url("housejpg.jpg");
    
}

.work{
    background-image: url("workjpg.jpg");
    
}


.household .container, .work .container{
    display: flex;
    align-items: center;
}

.household .todo, .work .todo2{
    margin-left: 10px;
}

.household .home, .work .home{
    margin-right: 10px;
}

.household p, .work p{
    display: inline;
    padding-left: 150px;
    font-weight: bold;
}

.headin,.headin22 {
    color: white;
    display: flex;
    padding-left: 210px;  
}

.headin span,.headin22 span{
    background-color: green;
    border-radius:10px;
    padding: 10px;
    
}




/* -------------------------------------------------------------Household---------------------------------------------------------*/

.headin1 {
    display: flex;
    margin-left: 46px;  
}

.headin2 {
    display: flex;
    margin-left:-35px;  
}

.headin3 {
    display: flex;
    margin-left:10px;  
}

.input1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
  
.date, .time {
    width: 200px;
   
}

.topic{
    width: 350px;
}

.date, .time, .topic {
    margin-bottom: 104px;
    padding: 10px;
    border-radius: 10px ;
    opacity: 0.5;
    border: none;
}

.date:focus,
.time:focus,
.topic:focus,
.des:focus {
    opacity: 100%;
    border-color: green;
    transition: 1s ;
}

.des {
    resize: none;
    padding: 10px;
    border-radius: 10px ;
    opacity: 0.5;

}

.addbtn {
    width: 100px;
    margin-right: 215px;
}
  
.footer{
    display: flex;
    justify-content: space-between;
}

.clrall{
    width: 200px;
    margin-right: 700px;
    font-size:medium;
    cursor: pointer;
    align-self: auto;
    align-items: center ; 
    margin-bottom: auto; 
}

ul {
    list-style: none;
}

.tasks li {
    border-radius: 50px;
    margin-left: 80px;
    padding-left: 20px;
    padding-top: 5px;
    background-color: white;
    color: black;
    width: 1000px;
    height:50px;
    margin-top: 30px;
    cursor: pointer;
    position: relative;  
    z-index: 2;
}

.completed {
    opacity: 0.4;
}

.topic1{
    display: flex;
    justify-content: space-between;  
    padding-right: 20px;
}

.drpbtn{
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}

.ul1{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
}

.showdesc{
    background-color: white;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    margin-left: 1200px;
    top: 48vh;
    position: fixed;
    overflow-y: scroll;
    overflow-x: scroll;
    padding-left: 10px;
    padding-top: 10px;
}
  
#tasks.scroll {
    max-height: 350px; 
    overflow-y: scroll;
}
  
.rmngtsk, #remaining-task{
    background-color: green;
    color: white;
    font-weight: bold;
    height: 10px;
    border-radius: 10px;
    padding: 5px;
}


/*-----------------------------------------------------------------------------------work--------------------------------------------------*/


.headin12 {
    display: flex;
    margin-left: 50px;
}

.headin22 {
    display: flex;
    margin-left: -12px;
}

.headin32 {
    display: flex;
    margin-left: 15px;
}

.input2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.date2,
.time2 {
    width: 200px;
}

.topic2 {
    width: 350px;
}

.date2,
.time2,
.topic2 {
    margin-bottom: 104px;
    padding: 10px;
    border-radius: 10px ;
    opacity: 0.5;
    border: none;
}
.date2:focus,
.time2:focus,
.topic2:focus,
.des2:focus {
    opacity: 100%;
    border-color: green;
    transition: 1s ;
}

.des2 {
    resize: none;
    padding: 10px;
    border-radius: 10px ;
    opacity: 0.5;
}

.addbtn2 {
    width: 100px;
    margin-right: 215px;
}

.footer2 {
    display: flex;
    justify-content: space-between;
}

.clrall2 {
    width: 200px;
    margin-right: 700px;
    font-size: medium;
    cursor: pointer;
    align-self: auto;
    align-items: center;
    margin-bottom: auto;
}

ul {
    list-style: none;
}

.tasks2 li {
    border-radius: 50px;
    margin-left: 80px;
    padding-left: 20px;
    padding-top: 5px;
    background-color: white;
    color: black;
    width: 1000px;
    height: 50px;
    margin-top: 30px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.completed2 {
    opacity: 0.4;
}

.topic12 {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}

.drpbtn2 {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}

.ul2 {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
}

.showdesc2 {
    background-color: white;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    margin-left: 1200px;
    top: 48vh;
    position: fixed;
    overflow-y: scroll;
    overflow-x: scroll;
    padding-left: 10px;
    padding-top: 10px;
}

#tasks2.scroll2 {
    max-height: 350px;
    overflow-y: scroll;
}

.rmngtsk2,
#remaining-task2 {
    background-color: green;
    color: white;
    font-weight: bold;
    height: 10px;
    border-radius: 10px;
    padding: 5px;
}
